body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	/* background: #000000b8; */
	background-color: #000000b8;
	color: #fff;
	width: auto;
}

body {
	opacity: 0;
	transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

.link,
button {
	font-weight: bold;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1em;
	margin: 1em;
	color: black;
	background-color: #fff;
	border-radius: 1em;
	border: none;
	width: 10em;
	display: inline-block;
}

.menu {
	flex-direction: column;
	align-items: center;
	display: flex;
}

.desc-box {
	margin: 2em;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

.posts {
	margin: 1em;
}

.posts > .post {
	padding: 1em;
	padding-top: 0.5em;
	margin: 1em;
	background-color: #fff;
	color: black;
	border-radius: 1em;
}

.post_img {
	background-color: #000000b8;
	color: white;
	padding: 20px;
}

#buttons {
	flex-direction: row;
	justify-content: space-around;
	display: flex;
}

header {
	padding: 1em;
	text-align: center;
}

header > img {
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	height: 10em;
	border-radius: 1em;
	border: 4px solid white;
	display: block;
}

/* TODO: move this to header too */
main {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
}

a {
	color: black;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	gap: 0.5em;
	display: flex;
}
