body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f1e3;
	color: #84817a;
	width: auto;
}

body {
	opacity: 0;
	transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

.link, button {
	font-weight: bold;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1em;
	margin: 1em;
	color: black;
	background-color: #84817a;
	border-radius: 1em;
	border: none;
	width: 10em;
	display: inline-block;
}

.menu {
	flex-direction: column;
	align-items: center;
	display: flex;
}

.desc-box {
	margin: 1em 20vw 1em 20vw;
	font-size: 1.5em;
	font-weight: bold;
	color: inherit;
}

.posts {
	margin: 1em;
	max-width: 75em;
}

.posts > .post {
	padding: 1em;
	padding-top: 0.5em;
	margin: 1em;
	background-color: #aaa69d;
	color: #f7f1e3;
	border-radius: 1em;
}

.post_img {
	background-color: #84817a;
	color: #f7f1e3;
	padding: 20px;
}

#buttons {
	flex-direction: row;
	justify-content: space-around;
	display: flex;
}

header {
	padding: 1em;
	text-align: center;
}

header > img {
	margin-left: auto;
	margin-right: auto;
	width: 10em;
	height: 10em;
	border-radius: 1em;
	border: 4px solid #84817a;
	display: block;
}

.hvr-glow {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

/* TODO: move this to header too */
main {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
}

a {
	padding: 0.5em;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	color: #f7f1e3;
	position: relative;
}

.icon {
	filter: invert(92%) sepia(7%) saturate(664%) hue-rotate(334deg) brightness(107%) contrast(94%);
}

@-webkit-keyframes hvr-back-pulse {
	50% {
		background-color: white;
	}
}
@keyframes hvr-back-pulse {
	50% {
		background-color: #d1ccc0;
	}
}

.hvr-back-pulse {
	background-color: #aaa69d;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1em;
	margin: 0.5em;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	overflow: hidden;
	transition-duration: 0.5s;
	transition-property: color, background-color;
	border-radius: 1em;
	border: none;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	width: 10em;
	display: inline-block;
	-webkit-transition-property: color, background-color;
	-webkit-transition-duration: 0.5s;
	-webkit-transform: perspective(1px) translateZ(0);
}

.hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
	animation-name: hvr-back-pulse;
	animation-duration: 1s;
	animation-delay: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	background-color: #b33939;
	color: white;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@media screen and (max-width: 500px){
	.desc-box {
		font-size: 1em !important;
		margin: 1em;
	}
}
