---
import Layout from '../layouts/Layout.astro';

import SlbFullstack from '../components/experiences/work/SlbFullstack.astro';
import ScaniaThesis from '../components/experiences/work/ScaniaThesis.astro';
import SlbIntern2023 from '../components/experiences/work/SlbIntern2023.astro';
import SlbIntern2022 from '../components/experiences/work/SlbIntern2022.astro';
import EpmData from '../components/experiences/work/EpmData.astro';

import RcCarPlatooning from '../components/experiences/projects/RcCarPlatooning.astro';
import Backscattering from '../components/experiences/projects/Backscattering.astro';
import IotClimateSensor from '../components/experiences/projects/IotClimateSensor.astro';
import VhdlVoltmeter from '../components/experiences/projects/VhdlVoltmeter.astro';
import BachelorsThesis from '../components/experiences/projects/BachelorsThesis.astro';
import Nationskollen from '../components/experiences/projects/Nationskollen.astro';
import TerminalTextTv from '../components/experiences/projects/TerminalTextTv.astro';
---

<Layout title="Fahad Jamil - Experience">
    <div class="main-wrapper padded main-wrapper--wide">
        <div class="section">
            <h2 class="section-title">Experience & work</h2>
            <p class="section-intro">Return to <a href="/">home</a>.</p>
            <SlbFullstack />
            <ScaniaThesis />
            <SlbIntern2023 />
            <SlbIntern2022 />
            <EpmData />
        </div>

        <div class="section">
            <h2 class="section-title">Projects</h2>
            <RcCarPlatooning />
            <Backscattering />
            <IotClimateSensor />
            <VhdlVoltmeter />
            <BachelorsThesis />
            <Nationskollen />
            <TerminalTextTv />
        </div>
    </div>
</Layout>
