---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Fahad">
    <div class="layout">
        <div class="main-wrapper">
            <div class="glass">
                <div class="post">
                    <h2>Fahad Jamil</h2>
                    <p>
                        I am a software engineer at
                        <a href="https://www.slb.com">SLB</a> in Stavanger, Norway.
                        I hold a master's degree in
                        <a href="https://www.uu.se/en/study/programme/masters-programme-embedded-systems">embedded systems</a>
                        from <a href="https://www.uu.se/en/study/programme?query=TIT2Y">Uppsala University</a>.
                    </p>
                    <p>
                        Check out <a href="https://github.com/mcfrappe">my Github</a> and
                        <a href="https://linkedin.com/in/fahadjamil06">my LinkedIn</a>.
                    </p>
                    <p>
                        You can also see my work and experiences <a href="/experience">here</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
