---
import path from 'path';
import { fileURLToPath } from 'url';
const __filename = fileURLToPath(import.meta.url);
const __dirname = path.dirname(__filename);
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
  title: "Fahad Jamil",
  description: "Software engineering student",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
  <section>
    <h1 class="mb-6 title">Hi!</h1>
    <p class="mb-4">
    I'm a 23-year-old computer science engineering student at Uppsala
    University, Sweden. I am currently doing my masters in Embedded systems.
    <br>
    <br>
    On this page, you will find my portfolio as well as my different projects
    that I've worked on. Feel free to send me a mail or a message on LinkedIn
    for any queries.
    </p>
    <SocialList />
  </section>
  <section aria-label="Blog post list" class="mt-16">
    <h2 class="mb-4 text-xl title">Projects</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
      allPostsByDate.map((p) => (
      <li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
	<BlogPostPreview post={p} as="h2" />
      </li>
      ))
      }
    </ul>
  </section>
</PageLayout>
