<div class="glass">
    <div class="post">
        <h3>Bachelor's Thesis: Automating Chemical Sampling with Precision Motors</h3>
        <p class="project-date">2022</p>
        <a href="https://urn.kb.se/resolve?urn=urn:nbn:se:uu:diva-478183">DiVA Portal</a>,
        <a href="https://uu.diva-portal.org/smash/get/diva2:1674369/FULLTEXT01.pdf">PDF</a>
        <p>Developed automated chemical sampling system using three Conex-CC precision motors controlled
            via Python and PyVISA. Designed and implemented 3-axis (X-Y-Z) motion platform for precise
            sample positioning. Significantly reduced measurement time, manual supervision, sample size,
            and power consumption.</p>
        <p><b>Tags: </b>Python, PyVISA, Conex-CC, Motor Control, Qt, Automation</p>
    </div>
</div>
