<div class="glass">
    <div class="post">
        <h3>Backscattering in Wireless Technology</h3>
        <p class="project-date">2023 Mar-Jun</p>
        <p>Measured and experimented with BFSK-modulated backscatter tags on 2.4 GHz carrier signal.
            Implemented packet reception using Texas Instruments SimpleLink 32-bit Arm Cortex-M4F wireless MCU.
            Generated carrier with Zolertia Firefly; developed backscatter tag on RP2040 module.</p>
        <p><b>Tags: </b>Embedded C, Wireless, RP2040, Texas Instruments, Backscatter</p>
    </div>
</div>
