<div class="glass">
    <div class="post">
        <h3>Nationskollen &mdash; A Meeting Place for All Student Nations of Uppsala</h3>
        <p class="project-date">2021</p>
        <a href="https://github.com/nationskollen">Source Code (GitHub)</a>
        <p>Developed an application connecting students with student nations in Uppsala, Sweden. The
            application consisted of four components: an admin web app, a mobile app, a backend server,
            and a custom SDK for facilitating communication between the backend and frontend. Responsible
            for designing and implementing the backend and the SDK.</p>
        <p><b>Tags: </b>Backend, SDK, API Design, Node.js</p>
    </div>
</div>
