<div class="glass">
    <div class="post">
        <h3>Terminal Text TV &mdash; TTT</h3>
        <a href="https://github.com/mcfrappe">GitHub</a>
        <p>A terminal version of the Swedish teletext system, written in C.</p>
        <p><b>Tags: </b>C, Terminal, Linux</p>
    </div>
</div>
