<div class="glass">
    <div class="post">
        <h3>VHDL Volt Meter with CPLD</h3>
        <p class="project-date">2022</p>
        <p>Designed and implemented a digital voltmeter using CPLD programmed in VHDL. Integrated SPI
            protocol for communication with ADC and 2x16 LCD display for voltage readout. Built complete
            hardware-software system for real-time voltage measurement and display.</p>
        <p><b>Tags: </b>VHDL, CPLD, Quartus, SPI, Hardware Design</p>
    </div>
</div>
