<div class="glass">
    <div class="post">
        <h3>IT Technician/Consultant @ <a href="https://epm.se">EPM Data AB</a></h3>
        <p class="project-date">2019 Jun–2020 Aug</p>
        <h4>Location: Stockholm, Sweden &#x1F1F8;&#x1F1EA;</h4>
        <p><b>Tags: </b>Operating Systems, System Administration, Linux, DNS, Windows, Technical Support</p>
    </div>
</div>
