<div class="glass">
    <div class="post">
        <h3>Master Thesis @ <a href="https://www.scania.com">Scania AB</a></h3>
        <p class="project-date">2024 Jan–Jun</p>
        <h4>Location: S&ouml;dert&auml;lje, Sweden &#x1F1F8;&#x1F1EA;</h4>
        <a href="https://urn.kb.se/resolve?urn=urn:nbn:se:uu:diva-531746">DiVA Portal</a>
        <p>Analyzed and compared expressiveness of specification languages for stochastic safety-critical
            systems. Investigated formal methods and their ability to model probabilistic behaviors and
            safety properties. Evaluated practical applicability in real-world safety-critical applications.</p>
        <p><b>Tags: </b>Formal Methods, Safety-Critical Systems, Stochastic Modeling, Specification Languages</p>
    </div>
</div>
