<div class="glass">
    <div class="post">
        <h3>Full-Stack Software Engineer @ <a href="https://www.slb.com">SLB</a> (f.k.a Schlumberger)</h3>
        <p class="project-date">2024 Sep–Present</p>
        <h4>Location: Stavanger, Norway &#x1F1F3;&#x1F1F4;</h4>
        <p>Working in Petrel, improving legacy code and converting single-threaded code to multi-threaded
            for better performance and resource utilization. Creating new features for visual mixing of seismic
            volumes using graphics programming. Low-level programming in seismic file formats such as OpenZGY
            and OpenVDS. Building a cutting-edge cloud solution for seismic visualization using microservices,
            OSDU, Angular frontend, and Unity remote rendering to stream subsurface data.</p>
        <p><b>Tags: </b>C#, C++, Angular, Unity, OpenZGY, OpenVDS, OSDU, Microservices, Multithreading,
            Graphics Programming, Azure DevOps, Git</p>
    </div>
</div>
