<div class="glass">
    <div class="post">
        <h3>Software Engineer Intern @ <a href="https://www.slb.com">SLB</a> (f.k.a Schlumberger)</h3>
        <p class="project-date">2022 Jun–Aug</p>
        <h4>Location: Stavanger, Norway &#x1F1F3;&#x1F1F4;</h4>
        <p>Implemented computer graphics techniques for voxel rendering and visualization in Unity.
            Used C# and shader programming to handle seismic volume data. Achieved high performance
            and quality with voxel-based methods.</p>
        <p><b>Tags: </b>C#, Raycasting, Linear Algebra, Unity, HLSL, GLSL, GPU, Shaders, Volume Rendering, Git</p>
    </div>
</div>
