<div class="glass">
    <div class="post">
        <h3>Software Engineer Intern @ <a href="https://www.slb.com">SLB</a> (f.k.a Schlumberger)</h3>
        <p class="project-date">2023 Jun–Aug</p>
        <h4>Location: Stavanger, Norway &#x1F1F3;&#x1F1F4;</h4>
        <p>Created a system for visualizing and rendering 4D seismic data in the Subsurface Framework
            Building (SFB) platform for seismic interpretation. Used SFB's existing platform to import and
            visualize seismic volumes over time. Demonstrated the benefits of 4D seismic analysis for
            reservoir characterization and monitoring.</p>
        <p><b>Tags: </b>C#, C, C++, Azure DevOps, Visual Studio, Agile, 3D Visualization, Unity, Git</p>
    </div>
</div>
